.app-container {
  background-color: lightblue;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.white-box{
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.date-time {
  display: flex;
  justify-content: space-between;
}
.date-time {
  color: black; /* 시와 분은 검정색으로 유지 */
}

.red-seconds {
  color: red; /* 초가 50초 이상이면 빨간색으로 표시 */
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; 
}
.todo-container {
  margin-right: 30px;
}