body{
  background-color: rgb(9, 9, 52);
}
.movie {
  position: relative;
  display: inline-block;
  margin: 14.5px;
  background-color: rgb(48, 48, 82);
  border-radius: 3px;
  width: 180px;
  height: 360px;
}
.movie-info {
  display: flex; /* Flexbox 사용 */
  justify-content: space-between; /* 제목과 평균 평점을 좌우로 배치 */
  margin: 10px;
  
}
.movie-average{
  font-weight:lighter;
}
.movie img {
  width: 180px;
  height: auto;
  transition: transform 0.3s ease;
}
.movie-info{
  font-size: 12px;
  color: white;
  font-weight: bold;
  white-space: wrap;
}
.movie-info .movie-title{
  padding-right: 10px;
}


.movie-details {
  position: absolute;
  font-size: 12px;
  top: 0;
  left: 0;
  width: 160px;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  opacity: 0; /* 초기에는 숨김 */
  transition: opacity 0.3s ease;
}

.movie:hover .movie-details {
  opacity: 1; /* 호버 시 나타남 */
}

.overview{
  font-size: 10px;
}
.loading-spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #2f80ed; /* Spinner의 색상 설정 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* 회전 애니메이션 설정 */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}